<html>

<b>To:</b>
{{ invoice.customer.name }}
{{ invoice.customer.address }}
{{ invoice.customer.zip }} {{ invoice.customer.city }}, {{ invoice.customer.country }}

<b>By:</b>
Stefan Schmidbauer
Dvořákova 637
47301 Nový Bor, CZ

<b>Subject:</b> Invoice: {{ invoice.number }}
<b>Invoice date:</b> {{ invoice.due_date }}

Dear Sir or Madam:

Please find following items to be paid for my services

<table>
  <th>Time total hours (h)</th>
  <th>100% rate (h) 150% rate (h)</th>
  <th>100% billable (Eur)</th>
  <th>150% billable (Eur)</th>
  <th>total billable (Eur)</th>
  <td>40</td>
  <td>40</td>
  <td>0</td>
  <td>1200</td>
  <td>0</td>
  <td>1200</td>
</table>

<b>
total (Eur)
1200
</b>

Please pay within x business days with reference to your invoice number.

Bank details:
IBAN: xxx
BIC: xxx
Account holder: xxx

</html>
